
<svg id="right-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 200 245">
	<path style="fill:#353535;" d="M 0,117.5 L 184,117.5 180,107.5 200,122.5 180,137.5 184,127.5 0,127.5 Z"/>
	<text style="fill:#353535;font-size:12px;" x="90" y="107.5" text-anchor="middle">{{ $ctrl.movie.year }}</text>
	<foreignObject x="0" y="132.5" width="180" height="112.5">
		<p style="width:100%;
							height:100%;
							margin:0;
							font-size:12px;
							text-align:center;
							overflow-wrap:break-word;
							color:#353535"
		xmlns="http://www.w3.org/1999/xhtml">{{ $ctrl.movie.title }} {{ $ctrl.movie.title }} {{ $ctrl.movie.title }} {{ $ctrl.movie.title }} {{ $ctrl.movie.title }} {{ $ctrl.movie.title }} {{ $ctrl.movie.title }} </p>
	</foreignObject>
</svg>
