
<svg id="right-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 250 100">
	<path style="fill:#353535;" d="M 34,0 L 34,92 29,90, 36.5,100 44,90 39,92 39,0 Z"/>
	<text style="fill:#353535;font-size:6px;" x="42" y="38">{{ $ctrl.movie.year }}</text>
	<foreignObject x="42" y="43" width="180" height="50">
		<p style="width:100%;
							height:100%;
							margin:0;
							font-size:6px;
							text-align:left;
							overflow-wrap:break-word;
							color:#353535"
		xmlns="http://www.w3.org/1999/xhtml">{{ $ctrl.movie.title }}</p>
	</foreignObject>
</svg>
