
<div id="display-header">
	<h2>{{ [ app.pathToBacon[0].name, app.pathToBacon[0].number ] | displayHeader }}</h2>
	<button type="button" ng-click="display.reset()">Reset</button>
</div>

<div id="display-content-container">
	<div id="display-content">
		<!-- <div ng-repeat="row in display.rows">
			<div ng-class="($odd ? 'movie-node-container' : 'actor-node-container')" ng-repeat="actorMovie in display.pathToBacon"
			ng-hide="display.loading[$index]" expand-fade="{{display.duration}}">
				
				<actor-details id="node-{{$index}}" class="actor-node" ng-if="display.nodeType[$index] == 'actor'" actor="actorMovie"
				loaded="display.actorMovieLoaded" index="$index"></actor-details>
				
				<arrow-right id="node-{{$index}}" class="movie-node" ng-if="display.nodeType[$index].arrow == 'right'" movie="{{actorMovie}}"></arrow-right>
			</div>
		</div> -->
	</div>
</div>
