
<div id="display-header">
	<h2>{{ [ app.pathToBacon[0].name, app.pathToBacon[0].number ] | displayHeader }}</h2>
	<button type="button" ng-click="display.reset()">Reset</button>
</div>

<div id="display-content-container" scroll-lock>
	<div id="display-content">
		<div id="row-{{$index}}" ng-class="'row' + (!$index ? ' first-row' : '') + ($odd ? ' arrow-row' : '') + ($index == 2 ? ' reverse-row' : '')" ng-repeat="row in display.rows" ng-hide="display.rowHidden[$index]">
			<div ng-class="node.type == 'actor' ? 'actor-node-container' : 'movie-node-container'" ng-repeat="node in row" hide="node.hidden">
				
				<actor-details class="actor-node" ng-if="node.type == 'actor'" actor="node.actorMovie"></actor-details>
				
				<arrow class="movie-node" ng-if="node.type != 'actor'" type="node.type"></arrow>
			</div>
		</div>
	</div>
</div>
