

<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="/">

		<title>Six Degrees of Bacon</title>
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
		<link rel="stylesheet" href="/client/styles/app.css">
		<link rel="stylesheet" href="/client/styles/choose.css">
		<link rel="stylesheet" href="/client/styles/display.css">
		<link rel="stylesheet" href="/client/styles/home.css">
		<link rel="stylesheet" href="/client/styles/loading.css">
		
		<script src="/dist/bundle.js"></script>

		<svg id="right-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 200 150" style="display:none;">
			<path d="M0 25 L183 25 L180 15 L200 30 L180 45 L183 35 L0 35 Z"/>
		</svg>
	</head>
	
	<body ng-cloak ng-controller="AppController as app">
		<header>
			<h1>Six Degrees of Kevin Bacon</h1>
			<form id="name-input" ng-controller="InputController as input">
				<input type="text" placeholder="Search for an actor" ng-model="input.name" ng-disabled="app.inputDisabled">
				<input type="submit" ng-click="input.submit()" ng-disabled="app.inputDisabled" value="">
			</form>
		</header>
		
		<section id="view" ng-view autoscroll></section>
		
		<div id="footer">
			<p>Information courtesy of IMDb</p>
			<p>(http://www.imdb.com).</p>
			<p>Used with permission.</p>
		</div>
	</body>
</html>

