

<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<title>Six Degrees of Bacon</title>
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
		
		<link rel="stylesheet" href="/client/styles/app.css">
		<link rel="stylesheet" href="/client/styles/choose.css">
		<link rel="stylesheet" href="/client/styles/display.css">
		<link rel="stylesheet" href="/client/styles/home.css">
		<link rel="stylesheet" href="/client/styles/loading.css">
		
		<script src="/dist/bundle.js"></script>
	</head>
	
	<body ng-controller="AppController as app">
		<div id="header">
			<h1>Six Degrees of Kevin Bacon</h1>
			<form id="name-input" ng-controller="InputController as input">
				<input type="text" ng-model="input.name" ng-disabled="input.loading">
				<input type="submit" ng-click="input.submit()" ng-disabled="input.loading" value="Search">
			</form>
		</div>
		
		<div id="content" ng-view autoscroll></div>
		
		<div id="footer">
			<p>Information courtesy of</p>
			<p>IMDb</p>
			<p>(http://www.imdb.com).</p>
			<p>Used with permission.</p>
		</div>
	</body>
</html>

