
<svg version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 250 100">
	<path ng-attr-transform="{{type=='Left'?'translate(0)':'translate(177)'}}" style="fill:#272727;" d="M 34,0 L 34,92 29,90, 36.5,100 44,90 39,92 39,0 Z"/>
	<text style="fill:#272727;font-size:6px;" ng-attr-x="{{type=='Left'?'42':'208'}}" y="38" ng-attr-text-anchor="{{type=='Left'?'start':'end'}}">{{ movie.year }}</text>
	<foreignObject ng-attr-x="{{type=='Left'?'42':'28'}}" y="43" width="180" height="50">
		<p ng-attr-style="width:100%;
							height:100%;
							margin:0;
							font-size:6px;
							text-align:{{type=='Left'?'left':'right'}};
							overflow-wrap:break-word;
							color:#272727"
		xmlns="http://www.w3.org/1999/xhtml">{{ movie.title }}</p>
	</foreignObject>
</svg>
