/*
 * This stylesheet contains the css for elements in the choose view
 */


#choose {
	flex: 1 0 auto;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: scroll;
}


	#choose > h1 {
		margin: 0;

		font-size: 30px;
		text-align: center;
		text-shadow: 1px 1px 1px #d6d6d6;
		
		color: #353535;
	}


	.actor-choice {
		max-width: 700px;
		width: calc(100% - 3rem);
		
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: .5rem;
		border-width: 1px 2px;
		border-style: solid;
		border-color: #c72222;
		margin: 0 1rem;

		color: #f2f2f2;
		text-shadow: 1px 1px 3px #143160;
		background-color: #f23a3a;

		cursor: pointer;
		transition: background-color .25s ease-out;
	}

	.actor-choice:hover {
		background-color: #c72222;
	}

	.actor-choice:first-of-type {
		border-top-width: 2px;
		border-radius: 3px 3px 0 0;
		margin-top: 2rem;
	}

	.actor-choice:last-of-type {
		border-bottom-width: 2px;
		border-radius: 0 0 3px 3px;
		margin-bottom: 2rem;
	}


		.actor-choice > div {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
		}


			.actor-choice > div > h1 {
				padding-bottom: .1em;
				margin: 0 1rem 0 0;
				font-size: 25px;
			}


		.actor-choice p {
			padding: 0;
			margin: 0;
			font-size: 20px;
		}


		.actor-choice > p {
			flex: 0 1 auto;
			text-align: right;
		}


	#choose > button {
		padding:  .2rem .5rem;
		border: 1px solid #198a46;
		border-radius: 3px;
		box-shadow: 0 0 6px 1px #666;
		outline: none;
		margin: 0;

		font-size: 1.5rem;
		text-shadow: 1px 1px 1px #136b36;
		
		color: #f8f8f8;
		background-color: #23bc61;

		cursor: pointer;
	}


	#choose > button:hover {
		background-color: #1b914a;
	}


@media (max-width: 700px) {
	#choose > h1 {
		font-size: 1.5rem;
	} .actor-choice > div {
		flex-direction: column;
		align-items: left;
	} .actor-choice h1, .actor-choice p {
		font-size: 1rem;
	}
}

