/*
 * This stylesheet contains the css for elements in the home view
 */


#home {
	width: 100%;
	height: 100%;
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #353535;
}


	@keyframes toggle {
		0% {
			opacity: 0;
		} 20% {
			opacity: 0;
		} 100% {
			opacity: 1;
		}
	}

	#home-bacon-img {
		opacity: 1;
		box-sizing: border-box;
		min-width: 250px;
		max-width: 500px;
		width: 40vw;
		min-height: 250px;
		max-height: 500px;
		height: 40vw;

		border-radius: 50%;
		box-shadow: 0px 0px 100px 30px #ffc800;

		background-image: url('/client/images/bacon-home.jpg');
		background-position: 50% 10%;
		background-repeat: no-repeat;
		background-size: cover;
	}

  #home-bacon-img.toggle {
  	animation: 2.5s toggle;
  }


	#home > h2 {
		margin: 0 1rem 1.5rem;
		font-size: 30px;
		text-align: center;
		text-shadow: 1px 1px 1px #d6d6d6;
	}


	#home > p {
		margin: 0 1rem 2rem;
		font-size: 20px;
		text-align: center;
	}


	#home > p > a {
		font-weight: 600;
		color: #3f35ff;
	}


	#home > button {
		padding: .2rem .5rem;
		border: none;
		border-radius: 3px;
		outline: none;
		box-shadow: 0 0 6px 1px #666;
		margin: 0;

		font-size: 1.5rem;
		text-shadow: 1px 1px 1px #136b36;
		
		color: #f8f8f8;
		background-color: #23bc61;

		cursor: pointer;
	}

	#home > button:hover {
		background-color: #1b914a;
	}

