/*
 * This stylesheet contains the css for elements in the home view
 */


#home-bacon-img {
	box-sizing: border-box;

	width: 30vw;

	border: 10px solid orange;
	border-radius: 30px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

