/*
 * This stylesheet contains the css for elements in the loading view
 */


#loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	#loading > h1 {
		margin: 0;

		font-size: 30px;
		text-shadow: 1px 1px 1px #d6d6d6;
		color: #353535;
	}


