

body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}

	.actor-image {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}


	#header {
		width: 100%;

		background-color: red;
		text-align: center;
	}

		#name-input {
			padding-bottom: 10px;

			display: flex;
			justify-content: center;

			background-color: red;
		}

			#name-input > input:first-child {

				padding: .1em .5em;
				margin-right: .5em;
				border: none;
				outline: none;
				
				font-size: 20px;
			}

			#name-input > input:last-child {
				outline: none;
				border: none;

				background-color: blue;
				color: white;
				font-size: 20px;
			}

	#content {
		width: 100%;

		display: flex;
		justify-content: center;

		background-color: blue;
	}

		#choose {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			background-color: red;	
		}

		#display {
			margin: 0 auto;

			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			background-color: orange;	
		}

			#display > div {
				margin: 0 10px;		

				display: flex;
				flex-direction: row;
				align-items: center;

				background-color: green;		
			}

				.actor-node, .movie-node {
					margin: 10px;

					display: flex;
					flex-direction: column;
					align-items: center;

					background-color: red;
				}

				.actor-node > div {
					width: 150px;
					height: 150px;

					border: 2px solid orange;
				}

				.actor-node > img {
					max-width: 200px;
					max-height: 200px;
					/*height: 150px;*/

					border: 2px solid orange;
				}


		#home {
			margin: 0 auto;

			background-color: red;
		}

			#bacon-home {
				width: 33vw;
				height: 33vw;

				margin: 0 auto;

				border-radius: 16.5vw;
				border: 10px solid orange;

				background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Kevinbacongfdl.PNG/428px-Kevinbacongfdl.PNG");
			}

		#loading {
			background-color: red;	
		}	


	#imdb-footer {
		width: 100%;

		background-color: red;
		text-align: center;
		font-size: 12px;
		line-height: .5;
	}